:root{
  --main-color: #22333c;
  --login-color:#24353f;
}
* {
  box-sizing: border-box;
}
.bg{
  background-color: var(--main-color) !important;
}
.title{
  color: #17a2b8;
  font-size: 2.5rem;
}
p{
  color: #17a2b8;

}
.login {
  background-color: var(--login-color);
  padding: 50px;
  box-shadow: 0px 0px 50px 5px rgba(11, 11, 11, 0.726);
}
input {
  background-color: #22333c;
  color: white;
  margin: 10px 0;
  padding: 6px 12px;
  outline: none;
  border: 1.5px solid white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.login button{
  margin: 20px 0;
  font-size: 16px;
}

input::placeholder{
  color: rgb(211, 205, 205);
  font-weight: lighter;
}
input:focus{
  border-color:#48d2ee !important ;
}
.text{
  text-decoration: none;
}
.text:hover{
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

nav .collapse span a{
  border: 1px solid rgb(245, 186, 76);
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 18px;
}
nav .collapse span a:hover{
  color: white !important;
  background-color:  rgb(245, 186, 76);
  text-decoration: none;
}

.group , nav{
  box-shadow: 0px 0px 50px 5px rgba(11, 11, 11, 0.726);

}